# =================================================================
# ------------------ <DiNovo Configuration File> ------------------
# =================================================================
# [Using Method of DiNovo]
#     -- COMMAND LINE --
# 1. Running DiNovoKernel.exe, get the DiNovo.cfg(it's me!)
# 2. Filling this config file(you can change the file name as you wish)
# 3. Opening a terminal and running command line: DiNovoKernel.exe xxx.cfg
#     ------ GUI -------
# Double click 'DiNovo.exe' and fill the config parameters, then click '[Run]'.
#
# Any question, please send e-mail to: yfu@amss.ac.cn
# Enjoy your time! Good luck!  :-)
# =================================================================

# [INI Files]
INI_PATH_ELEMENT=element.ini
INI_PATH_AA=aa.ini
INI_PATH_MOD=modification.ini
# Please fill above parameters with absolute paths.

# [MS Data]
MIRROR_PROTEASES_APPROACH=1
# Supported mirror proteases approaches:
# 1. [A]Trypsin + [B]LysargiNase
# 2. [A]LysC    + [B]LysN
PATH_MGF_A=
# Please fill above with path of data cleavaged by protease [A].
PATH_MGF_B=
# Please fill above with path of data cleavaged by protease [B].
# Please use "|" to separate the .mgf files' path, or input the folder path directly.
# Example1:
# PATH_MGF_A=D:\test\Trypsin\T1.mgf|D:\test\Trypsin\T2.mgf
# PATH_MGF_B=D:\test\LysargiNase\L1.mgf|D:\test\LysargiNase\L2.mgf
# Example2:
# PATH_MGF_A=D:\test\Trypsin\
# PATH_MGF_B=D:\test\LysargiNase\
LABEL_TYPE=0
# 0: Unlabeling.
# [In vivo labeling]
# 1: Neucode(Neuron encoding, double peaks).
#    Amino acid "K" is labeled as K602:+8.0142Da or K080:+8.0502Da, their mass delta is about 0.036Da.
#    Amino acid "R" is labeled as R004:+3.9881Da or R040:+4.0251Da, their mass delta is about 0.037Da.
# To be continued...

# [Work Flow]
WORK_FLOW_NUMBER=1
# 1: < Basic Processing > Processing .mgf files only.
# 2: < Spectral Pairing > Processing .mgf files, finding spectral pairs, but do not de novo sequencing.
# 3: <De Novo Sequencing> Processing .mgf files, finding spectral pairs, and perform de novo sequencing.
# [ATTENTION] Remember check mass tol in [De Novo], it works in [Spectral Preprocessing] and [Spectral Pairing].
MULTIPROCESS_NUM=1
# Accelerating! But the memory cost will be higher as the number gets higher.

# [Preprocess Parameters]
# [NeuCode Peaks Detection] Detecting labeling peaks while samples are labeled with NeuCode.
NEUCODE_PEAK_DETECTION_APPROACH=1
# 1: Default detection approach with deisotope and without classification model, exporting within preprocessed .mgf.
# 2: Detection with classification model(without deisotope, parameters above expire), exporting with "[NeuCodeAnnoOnly]" .mgf.
NEUCODE_PEAK_INTENSITY_MAX_RATIO=2.0
# Only work for approach 1. Filling the value of ratio >= 1.0.
CLASSIFICATION_MODEL_PATH=
# The path of classification model for NeuCode peaks detection.
# [ATTENTION] Detection with classification model only for workflow 1 now.
# [Deisotope] Hold 350 peaks at most before deisotoping(default).
ADD_ISOTOPE_INTENSITY=1
CHECK_NATURAL_LOSS=1
REMOVE_PRECURSOR_ION=0
CHECK_PRECURSOR_CHARGE=1
# Parameters above: 0 means turning off, and 1 means turning on.
# [Round I] Global filter for low intensity peaks.
HOLD_PEAK_NUM=200
# [Round II] Local filter for low intensity peaks.
REMOVE_IMMONIUM=1
PEAK_NUM_PER_BIN=7
MASS_BIN_LENGTH=100
# REMOVE_IMMONIUM: 0 means turning off, and 1 means turning on.
# Default: Remove immonium ions, and hold 7 peaks per 100Da at most.

# [MirrorFinder Parameters]
PAIR_DELTA_RT_THRESHOLD=10000.0
# Threshold of delta RT for judging mirror spectral pair, default: 10000.0s.
PAIR_FILTER_APPROACH=3
# Spectral pair filter approach:
# 0: Direct judge.
# 1: Filter using p-value.
# 2: Filter using FDR (by simulated null distribution)
# 3: Filter using p-value and then using FDR (by simulated null distribution)
PAIR_P_VALUE_THRESHOLD=0.05
# Threshold when using p-Value, default: 0.05.
PAIR_DECOY_APPROACH=2
# Test mode for spectral-pair decoy generation:
# 0: No decoy generated there.
# 1: Shifted precursor mass with +X Da.
# 2: Shifted fragment delta with +X Da, within target-decoy competition.
# 3: Shifted preprocessed peaks with +X Da.
PAIR_DECOY_SHIFTED_IN_DA=15.0
# X = 15.0 by default.
PAIR_FDR_THRESHOLD=0.02
# Threshold when using FDR, default: 2%.
# Estimated FDR := (#D + 1) / max(#T, 1).
MIRROR_TYPE_A1=1
MIRROR_TYPE_A2=1
MIRROR_TYPE_A3=0
MIRROR_TYPE_B=1
MIRROR_TYPE_C=1
MIRROR_TYPE_D=1
MIRROR_TYPE_E=1
MIRROR_TYPE_F=1
MIRROR_TYPE_G=1
# 0: Do not consider this mirror type.
# 1: Consider this mirror type.
# [MIRROR TYPE INTRODUCTION]([A]-protease - [B]-protease)
# TYPE A1: xxxxK - Kxxxx    E(delta(P.M.)) = (K - K) =    0.00Da, E(delta(FragIons_N|C)) = -K|+K = -128.09Da|+128.09Da
# TYPE A2: xxxxR - Rxxxx    E(delta(P.M.)) = (R - R) =    0.00Da, E(delta(FragIons_N|C)) = -R|+R = -156.10Da|+156.10Da
# TYPE A3: xxxx  -  xxxx    E(delta(P.M.)) = (0 - 0) =    0.00Da, E(delta(FragIons_N|C)) =  0|0  =    0.00Da|   0.00Da
# TYPE B:  xxxxR - Kxxxx    E(delta(P.M.)) = (R - K) =  +28.01Da, E(delta(FragIons_N|C)) = -K|+R = -128.09Da|+156.10Da
# TYPE C:  xxxxK - Rxxxx    E(delta(P.M.)) = (K - R) =  -28.01Da, E(delta(FragIons_N|C)) = -R|+K = -156.10Da|+128.09Da
# TYPE D:  xxxxK -  xxxx    E(delta(P.M.)) = (K - 0) = +128.09Da, E(delta(FragIons_N|C)) =  0|+K =    0.00Da|+128.09Da
# TYPE E:  xxxxR -  xxxx    E(delta(P.M.)) = (R - 0) = +156.10Da, E(delta(FragIons_N|C)) =  0|+R =    0.00Da|+156.10Da
# TYPE F:  xxxx  - Kxxxx    E(delta(P.M.)) = (0 - K) = -128.09Da, E(delta(FragIons_N|C)) = -K|0  = -128.09Da|   0.00Da
# TYPE G:  xxxx  - Rxxxx    E(delta(P.M.)) = (0 - R) = -156.10Da, E(delta(FragIons_N|C)) = -R|0  = -156.10Da|   0.00Da
# P.M.: Precursor Mass(Normalized to monovalent state, i.e. peptide mass add single proton mass).
# FragIons_N|C: N-terminal fragment ions(like a, b, c) | C-terminal fragment ions(like x, y, z).
# Introduction above is based on unlabeled sample.
# If neuron-encoded sample: Mass(K) should add 8Da, and Mass(R) should add 4Da approximately.
# The accurate masses of amino acids will be calculated by element composition in DiNovo automatically.

# [De Novo]
DE_NOVO_APPROACH=1
# 0: [Direct mode] Direct-reading de Novo sequencing.
# 1: [Mirror Novo] De Novo sequencing by MirrorNovo.
# 2: [  pNovoM2  ] De Novo sequencing by pNovoM2.
# 3: [Combination] De Novo sequencing by MirrorNovo & pNovoM.exe.
MIRROR_NOVO_MODEL_PATH=
PNOVOM_EXE_PATH=
# The path of MirrorNovo / pNovoM2.exe for de Novo sequencing.
# [ATTENTION] if DE_NOVO_APPROACH=1/3, MIRROR_NOVO_MODEL_PATH need to fill path of MirrorNovo.py.
# [ATTENTION] if DE_NOVO_APPROACH=2/3, PNOVOM_EXE_PATH need to fill path of pNovoM2.exe.
MIN_PRECURSOR_MASS=300.0
MAX_PRECURSOR_MASS=3500.0
# Default precursor mass range: [300.0Da, 3500.0Da].
REPORT_PEPTIDE_NUM=10
# The max reporting number of most possible peptides inferred per spectrum/spectral pair.
MS_TOL=20
MS_TOL_PPM=1
# Precursor mass tolerance is used in spectral pairing(about twice tolerance) and de novo sequencing.
MSMS_TOL=20
MSMS_TOL_PPM=1
# MS\MSMS_TOL_PPM: 0 for Da, and 1 for PPM.
# Eg. MSMS_TOL=20, MSMS_TOL_PPM=1, it means that fragment mass tolerance is setting as 20 PPM.
# Precursor and fragment mass tolerance are used for scoring in spectral pairing(about twice tolerance) and de novo sequencing.
DE_NOVO_SINGLE_ENZYME_SPECTRUM=0
# When using pNovoM2 to sequencing single-enzyme data, pNovoM2 will use its 'single-enzyme sequencing' mode.
# When using MirrorNovo to sequencing single-enzyme data, MirrorNovo will auto call GCNovo to finish it.

# [MirrorNovo Parameters]
MIRRORNOVO_MAX_NUM_PEAKS=500
MIRRORNOVO_BEAM_SIZE=10
MIRRORNOVO_BATCH_SIZE=30
# Setting of 'MAX_NUM_PEAKS=500 & BEAM_SIZE=10' is recommended.
# Setting of 'BATCH_SIZE': acceleration for MirrorNovo.
# When setting 'MAX_NUM_PEAKS=500 & BEAM_SIZE=10':
# Setting 'BATCH_SIZE'  30 to  80 will take up about  4 to 10 GB GPU memory.
# Setting 'BATCH_SIZE' 120 to 150 will take up about 20 to 24 GB GPU memory.

# [GCNovo Parameters]
GCNOVO_MAX_NUM_PEAKS=500
GCNOVO_BEAM_SIZE=10
GCNOVO_BATCH_SIZE=2
# Setting of 'MAX_NUM_PEAKS=500 & BEAM_SIZE=10' is recommended.
# Setting of 'BATCH_SIZE': acceleration for GCNovo.
# When setting 'MAX_NUM_PEAKS=500 & BEAM_SIZE=10':
# Setting 'BATCH_SIZE'   2 to  10 will take up about  4 to 10 GB GPU memory.
# Setting 'BATCH_SIZE'  20 to  25 will take up about 20 to 24 GB GPU memory.

# [Export]
PATH_EXPORT=.\test\
# PATH_EXPORT is a path of result folder(Non-existent folder will be generated automatically).
# [ATTENTION] If it's an existing folder path, all items in it will be cleared.
EXPORT_ROUND_ONE_MGF=0
# Do you want to export 1st-round preprocessed spectra(MGF format)?
EXPORT_ROUND_TWO_MGF=0
# Do you want to export 2nd-round preprocessed spectra(MGF format)?
EXPORT_FEATURE_MGF=0
# Do you want to export annotated-and-unpreprocessed spectra(MGF format)?
# Annotate Unlabeled: Top-350 or not, isotope cluster, charge state.
# Annotate NeuCoding: Top-600 or not, NeuCode-labeling double peaks.

# [Validation]
FLAG_DO_VALIDATION=0
# 0: [User mode] DiNovo just run properly and nothing more.
# 1: [Test mode] After finished, results will be validated.
# 2: [Alignment] After finished, results will be mapped with database.
PATH_A_PFIND_RES=
PATH_B_PFIND_RES=
# If FLAG_DO_VALIDATION=1, please fill result paths above(only accept pFind3 result format, pFind-filtered.spectra).
# A: result path of [A]-protease data.
# B: result path of [B]-protease data.
PATH_FASTA_FILE=
# If FLAG_DO_VALIDATION=2, please fill fasta path above.
